<c-card class="mb-4">
    <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Wrapping</small>
     </c-card-header>
     <c-card-body>
        <c-card class="mb-4">
            <c-card-body>
              <p class="text-medium-emphasis small">
                Using the most basic table CoreUI, here&#39;s how <code>cTable</code>-based
                tables look in CoreUI.
              </p>
                <table cTable>
                  <thead>
                  <tr>
                    <th scope="col">Order Number</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Dealer Name</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Products</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of orders">
                    <th scope="row">{{item.orderNumber}}</th>
                    <td>{{item.paymentMethod}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.dealer.name}}</td>
                    <td>{{item.company.name}}</td>

                    <button [cPopover]="popoverHtml"
                            cPopoverPlacement="top"
                            [cPopoverTrigger]="'click'"
                            [cPopoverVisible]="visible"
                            cButton
                            class="m-1"
                            color="success">
                        Products
                        <ng-template #popoverHtml>
                        <h3 class="popover-header">
                            Ordered products
                        </h3>
                        <div class="popover-body" *ngFor="let product of invoiceDetails">
                            <td *ngIf="product.orderNumber == item.orderNumber">{{product.productName}}, Piece:{{product.piece}}</td>
                        </div>
                        </ng-template>
                    </button>
                  </tr>
                  </tbody>
                </table>
            </c-card-body>
          </c-card>
     </c-card-body>
</c-card>
