<c-card class="mb-4">
    <c-card-header ngPreserveWhitespaces>
        <strong>Dealer List</strong>
     </c-card-header>
     <c-card-body>
        <c-card class="mb-4">
            <c-card-body>
              <p class="text-medium-emphasis small">
                Companies can see dealers who registered in system. They can edit or delete dealers.
              </p>
                <table cTable>
                  <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Dividend</th>
                    <th scope="col">Open Account Limit</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of dealers">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.dividend}}</td>
                    <td>{{item.openAccountLimit}}</td>
                    <td><a routerLink="/adminDealer/edit/{{item.id}}"><button class="btn btn-primary">Edit</button></a></td>
                    <td><a (click)="isDelete(item.id)"><button class="btn btn-danger">X</button></a></td>
                  </tr>
                  </tbody>
                </table>
            </c-card-body>
          </c-card>
     </c-card-body>
</c-card>
