<c-card class="mb-4">
    <c-card-header ngPreserveWhitespaces>
        <strong>Company Order List</strong>
     </c-card-header>
     <c-card-body>
        <c-card class="mb-4">
            <c-card-body>
              <p class="text-medium-emphasis small">
                Companies can decline or approve orders, decision is theirs. They can check payment status before approve.
              </p>
                <table cTable>
                  <thead>
                  <tr>
                    <th scope="col">Order Number</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Dealer</th>
                    <th scope="col">Company</th>
                    <th scope="col">Products</th>
                    <th scope="col" class="text-center">Payment</th>
                    <th scope="col"></th>
                    <th scope="col" class="text-center">Approve</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of orders">
                    <th scope="row">{{item.orderNumber}}</th>
                    <td>{{item.paymentMethod}}</td>
                    <td>{{item.amount}} ₺</td>
                    <td>{{item.dealer.name}}</td>
                    <td>{{item.company.name}}</td>
                    <button cButton [cTooltip]="tooltipContent" cTooltipPlacement="left"
                            class="me-1" color="white"><button class="btn btn-primary">Products</button>
                      <ng-template #tooltipContent >
                        <div *ngFor="let product of invoiceDetails">
                          <p *ngIf="product.orderNumber == item.orderNumber">{{product.productName}}, Piece:{{product.piece}}</p>
                        </div>
                      </ng-template>
                    </button>
                    <td class="text-center">
                      <p *ngIf="item.paymentSuccess">✓</p>
                      <p *ngIf="!item.paymentSuccess">X</p>
                    </td>
                    <td>
                      <button *ngIf="item.paymentSuccess == false && (item.paymentMethod == 'Transfer' || item.paymentMethod == 'EFT')" class="btn btn-success text-white" (click)="confirmPayment(item.orderNumber)">Confirm Payment</button>
                    </td>
                    <td class="text-center">
                      <p *ngIf="item.companyApprove && item.isActive">✓</p>
                      <p *ngIf="item.isActive && !item.companyApprove">--</p>
                      <p *ngIf="!item.isActive && !item.companyApprove">X</p>
                    </td>
                    <button cButton color="white">
                      <button [disabled]="item.companyApprove == true || item.isActive == false" class="btn btn-success text-white" (click)="approve(item.orderNumber)">Approve</button>
                    </button>
                    <button cButton color="white">
                      <button [disabled]="item.isActive == false || item.companyApprove == true " class="btn btn-danger text-white" (click)="decline(item.orderNumber)">Decline </button>
                    </button>
                  </tr>
                  </tbody>
                </table>
            </c-card-body>
          </c-card>
     </c-card-body>
</c-card>
